<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Github contributors</title>
  <style>
    .container {
      display: flex;
      align-items: center;
    }
    .container p {
      margin-right: 10px;
    }
    .container input[type="text"] {
      margin-right: 10px;
      width: 300px; /* Задати більшу ширину */
    }
    .container button {
      margin-right: 10px;
    }
    .item {
      display: flex;
      align-items: center;
    }
    .item a {
      margin-right: 5px;
    }
  </style>
</head>
<body>
<form action="/" method="get" class="container">
  <p>Repository URL:</p>
  <input type="text" name="url" placeholder="Enter repository URL" value={{url}}>
  <button type="submit">Start</button>
</form>
<ol>
  {{#each result}}
    <li>
      <div class="item">
        <a href="{{this.link}}">{{this.name}}</a><p>- {{this.matches}} common contributors</p>
      </div>
    </li>
  {{/each}}
</ol>
</body>
</html>
